@import url(../css/fonts.css);
.header {
  background-color: #85241E;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-animation: .8s linear;
          animation: .8s linear;
}

.navbar {
  padding: 0;
}

.navbar .site-title-head {
  font: 500 1.125rem Montserrat Regular, sans-serif;
  line-height: 22px;
  color: #FFF;
}

.navbar .navbar-collapse .navbar-list .nav-item {
  opacity: .6;
  padding: 0 10px;
}

.navbar .navbar-collapse .navbar-list .nav-item:hover {
  opacity: 1;
}

.navbar .navbar-collapse .navbar-list .nav-item .nav-link {
  color: #FFF;
  font: 500 1.125rem Montserrat Regular, sans-serif;
}

.navbar .navbar-collapse .navbar-list .active {
  opacity: 1;
}

.navbar .navbar-collapse .navbar-list .active .nav-link {
  color: #FFF;
}

.navbar .contacts .contact-item a {
  text-decoration: none;
  color: #FFDEDC;
  font: 600 0.8125rem Open Sans Regular, sans-serif;
  opacity: .8;
}

.navbar .contacts .contact-item a:hover {
  opacity: 1;
  color: #FFF;
}

.navbar .languages .lang-item {
  margin: 3px 0;
}

.navbar .languages .lang-item a {
  padding: 0;
}

footer {
  background-color: #3A2F2F;
  color: #FFF;
}

footer .footer-content .address {
  -webkit-box-flex: 0.8;
      -ms-flex-positive: 0.8;
          flex-grow: 0.8;
}

footer .footer-content .address p {
  font: 600 1.125rem Montserrat Regular, sans-serif;
}

footer .contact-wrapper .contacts .contact-item i {
  color: #FFDEDC;
  font-size: 20px;
}

footer .contact-wrapper .contacts .contact-item a {
  text-decoration: none;
  color: #FFDEDC;
  font: 600 14px Open Sans Regular, sans-serif;
  opacity: .8;
}

footer .contact-wrapper .contacts .contact-item a:hover {
  opacity: 1;
}

footer .languages .lang-item {
  margin: 3px 0;
}

footer .languages .lang-item:hover {
  opacity: .8;
}

footer .languages .lang-item a {
  padding: 0;
}

footer .color-wrapper {
  background-color: #423838;
}

footer .color-wrapper p {
  color: #FFF;
  font: 600 1.125rem Montserrat Regular, sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.section-title {
  display: block;
  background-color: #FFF8F8;
  padding: 5px 0 5px 40px;
  border-left: 5px solid #85241E;
  font: 600 1.875rem Montserrat Regular, sans-serif;
  line-height: 42px;
  letter-spacing: 0.03em;
}

#project-description .description-wrapper {
  padding-top: 5%;
}

#project-description .description-wrapper .description-info .banner-title {
  font: 600 1.75rem Montserrat Regular, sans-serif;
}

#project-description .description-wrapper .description-info .founders-description {
  font: 600 1.125rem Montserrat Regular, sans-serif;
}

#project-description .description-wrapper .description-info p {
  font: 400 1.25rem Open Sans Regular, sans-serif;
  line-height: 34px;
  text-indent: 1.5rem;
}

#project-description .description-wrapper .description-info .founders-list .founders-list-item {
  margin: .75em 0;
  font: 400 1.25rem Open Sans Regular, sans-serif;
}

#our-mission .section-subtitle {
  font: 600 1.5rem Montserrat Regular, sans-serif;
}

#our-mission .mission-description {
  font: 500 1rem Open Sans Regular, sans-serif;
  line-height: 34px;
  text-indent: 1.5rem;
}

#our-team .team-member {
  width: auto;
  height: auto;
  background: none;
  padding: 0 15px 0 0;
}

#our-team .team-member img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 6px 7px 25px 1px rgba(0, 0, 0, 0.45);
          box-shadow: 6px 7px 25px 1px rgba(0, 0, 0, 0.45);
}

#our-team .team-member .title-wrapper h3 {
  font: 600 1.4375rem Montserrat Regular, sans-serif;
  line-height: 32px;
}

#our-team .team-member .title-wrapper p {
  font: 500 1rem Open Sans Regular, sans-serif;
  line-height: 34px;
  text-indent: 16px;
  padding: 0 15px 0 15px;
  text-indent: 16px;
}

#our-direction {
  background-color: #ECECEC;
  padding: 3% 0;
}

#our-direction .card-deck {
  margin-top: 5%;
}

#our-direction .card-deck .card {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#our-direction .card-deck .card .card-header {
  padding: 0;
  margin: 0;
}

#our-direction .card-deck .card .card-body {
  padding: 0;
  margin: 0;
  background-color: #FFF;
}

#our-direction .card-deck .card .card-body .card-title {
  padding: 3%;
  font: 600 1.2rem Montserrat Regular, sans-serif;
  line-height: 32px;
  margin: 0;
}

#our-direction .card-deck .card .card-body .card-text {
  padding: 16px 32px 32px 32px;
  font: 500 1rem Open Sans Regular, sans-serif;
  line-height: 34px;
}

#linguee {
  padding: 3% 0;
}

#linguee .linguee-description .linguee-list {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

#linguee .linguee-description .linguee-list .linguee-list-item {
  width: 230px;
}

#linguee .linguee-description .linguee-list .linguee-list-item img {
  margin: 0 auto;
  width: 180px;
  height: 180px;
}

#linguee .linguee-description .linguee-list .linguee-list-item h3 {
  padding-top: .3em;
  font: bold 1.125rem Montserrat Regular, sans-serif;
  position: relative;
  display: inline-block;
}

#linguee .linguee-description .linguee-list .linguee-list-item h3::before {
  display: block;
  position: absolute;
  content: '\2714';
  width: 10px;
  height: 10px;
  left: -30px;
}

#linguee ul li {
  margin: .5em 0;
}

#linguee ul li h3 {
  font: bold 1.2rem Montserrat Regular, sans-serif;
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

#linguee ul li h3::before {
  display: block;
  position: absolute;
  content: '\2714';
  width: 10px;
  height: 10px;
  left: -30px;
}

#linguee ul li svg {
  height: 64px;
  width: 64px;
}
