@import url(../css/fonts.css);
.header {
  background-color: #85241E;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-animation: .8s linear;
          animation: .8s linear;
}

.navbar {
  padding: 0;
}

.navbar .site-title-head {
  font: 500 1.125rem Montserrat Regular, sans-serif;
  line-height: 22px;
  color: #FFF;
}

.navbar .navbar-collapse .navbar-list .nav-item {
  opacity: .6;
  padding: 0 10px;
}

.navbar .navbar-collapse .navbar-list .nav-item:hover {
  opacity: 1;
}

.navbar .navbar-collapse .navbar-list .nav-item .nav-link {
  color: #FFF;
  font: 500 1.125rem Montserrat Regular, sans-serif;
}

.navbar .navbar-collapse .navbar-list .active {
  opacity: 1;
}

.navbar .navbar-collapse .navbar-list .active .nav-link {
  color: #FFF;
}

.navbar .contacts .contact-item a {
  text-decoration: none;
  color: #FFDEDC;
  font: 600 0.8125rem Open Sans Regular, sans-serif;
  opacity: .8;
}

.navbar .contacts .contact-item a:hover {
  opacity: 1;
  color: #FFF;
}

.navbar .languages .lang-item {
  margin: 3px 0;
}

.navbar .languages .lang-item a {
  padding: 0;
}

footer {
  background-color: #3A2F2F;
  color: #FFF;
}

footer .footer-content .address {
  -webkit-box-flex: 0.8;
      -ms-flex-positive: 0.8;
          flex-grow: 0.8;
}

footer .footer-content .address p {
  font: 600 1.125rem Montserrat Regular, sans-serif;
}

footer .contact-wrapper .contacts .contact-item i {
  color: #FFDEDC;
  font-size: 20px;
}

footer .contact-wrapper .contacts .contact-item a {
  text-decoration: none;
  color: #FFDEDC;
  font: 600 14px Open Sans Regular, sans-serif;
  opacity: .8;
}

footer .contact-wrapper .contacts .contact-item a:hover {
  opacity: 1;
}

footer .languages .lang-item {
  margin: 3px 0;
}

footer .languages .lang-item:hover {
  opacity: .8;
}

footer .languages .lang-item a {
  padding: 0;
}

footer .color-wrapper {
  background-color: #423838;
}

footer .color-wrapper p {
  color: #FFF;
  font: 600 1.125rem Montserrat Regular, sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.section-title {
  display: block;
  background-color: #FFF8F8;
  padding: 5px 0 5px 40px;
  border-left: 5px solid #85241E;
  font: 600 1.875rem Montserrat Regular, sans-serif;
  line-height: 42px;
  letter-spacing: 0.03em;
}

#main {
  padding: 3% 0;
}

#main .business, #main .goverment, #main .activists {
  margin: 2% 0;
}

#main .business .business-contact, #main .goverment .business-contact, #main .activists .business-contact {
  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
  padding: 0 2em 0 0;
  height: 45%;
  background-color: #fff;
}

#main .business .business-contact .modal-dialog, #main .goverment .business-contact .modal-dialog, #main .activists .business-contact .modal-dialog {
  top: 30%;
}

#main .business .business-contact .modal-dialog .modal-content, #main .goverment .business-contact .modal-dialog .modal-content, #main .activists .business-contact .modal-dialog .modal-content {
  padding: 0 0 5% 0;
}

#main .business .business-contact .feedback-form, #main .goverment .business-contact .feedback-form, #main .activists .business-contact .feedback-form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

#main .business .business-contact .feedback-form input, #main .goverment .business-contact .feedback-form input, #main .activists .business-contact .feedback-form input {
  margin: 3%;
}

#main .business .business-contact .feedback-form .comment-label, #main .goverment .business-contact .feedback-form .comment-label, #main .activists .business-contact .feedback-form .comment-label {
  font: 400 0.75rem Open Sans Regular, sans-serif;
  color: #039BE5;
  padding: 3% 0 0 11%;
}

#main .business .business-contact .feedback-form .name, #main .goverment .business-contact .feedback-form .name, #main .activists .business-contact .feedback-form .name {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
  background-color: transparent;
  border-style: none;
  border-bottom: 2px solid #000;
  padding: 2px 5px;
  font: 300 0.9375rem Montserrat Regular, sans-serif;
}

#main .business .business-contact .feedback-form .name:hover, #main .goverment .business-contact .feedback-form .name:hover, #main .activists .business-contact .feedback-form .name:hover {
  border-bottom: 2px solid #039BE5;
}

#main .business .business-contact .feedback-form .email, #main .goverment .business-contact .feedback-form .email, #main .activists .business-contact .feedback-form .email {
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  border-style: none;
  border-bottom: 2px solid #000;
  padding: 2px 5px;
  font: 300 0.9375rem Montserrat Regular, sans-serif;
}

#main .business .business-contact .feedback-form .email:hover, #main .goverment .business-contact .feedback-form .email:hover, #main .activists .business-contact .feedback-form .email:hover {
  border-bottom: 2px solid #039BE5;
}

#main .business .business-contact .feedback-form #comment, #main .business .business-contact .feedback-form #comment-2, #main .business .business-contact .feedback-form #comment-3, #main .goverment .business-contact .feedback-form #comment, #main .goverment .business-contact .feedback-form #comment-2, #main .goverment .business-contact .feedback-form #comment-3, #main .activists .business-contact .feedback-form #comment, #main .activists .business-contact .feedback-form #comment-2, #main .activists .business-contact .feedback-form #comment-3 {
  margin-top: 10px;
  padding: 0 5px 0 0;
  margin: 0 auto;
  resize: none;
  width: 80%;
  background-color: transparent;
  border-style: none;
  border-bottom: 2px solid #000;
  font: 300 0.9375rem Montserrat Regular, sans-serif;
}

#main .business .business-contact .feedback-form #comment:hover, #main .business .business-contact .feedback-form #comment-2:hover, #main .business .business-contact .feedback-form #comment-3:hover, #main .goverment .business-contact .feedback-form #comment:hover, #main .goverment .business-contact .feedback-form #comment-2:hover, #main .goverment .business-contact .feedback-form #comment-3:hover, #main .activists .business-contact .feedback-form #comment:hover, #main .activists .business-contact .feedback-form #comment-2:hover, #main .activists .business-contact .feedback-form #comment-3:hover {
  border-bottom: 2px solid #039BE5;
}

#main .business .business-contact .feedback-form .current, #main .goverment .business-contact .feedback-form .current, #main .activists .business-contact .feedback-form .current {
  position: relative;
  float: right;
  left: -10%;
  font: 300 0.9375rem Open Sans Regular, sans-serif;
  color: #039BE5;
}

#main .business .business-contact .submit-btn, #main .goverment .business-contact .submit-btn, #main .activists .business-contact .submit-btn {
  position: relative;
  display: inline;
  margin: 0 auto;
  font: 500 1rem Open Sans Regular, sans-serif;
  text-transform: uppercase;
  padding: 1% 10%;
  background-color: transparent;
  color: #E8625A;
  border: 2px solid #E8625A;
}

#main .business .business-contact .submit-btn:hover, #main .goverment .business-contact .submit-btn:hover, #main .activists .business-contact .submit-btn:hover {
  color: #FFF;
  background-color: #E8625A;
}

#main .business .business-contact .close-btn, #main .goverment .business-contact .close-btn, #main .activists .business-contact .close-btn {
  position: absolute;
  right: 0;
  background-color: transparent;
  border-style: none;
  padding: 3%;
  color: #85241E;
}

#main .business .business-contact .close-btn:hover, #main .goverment .business-contact .close-btn:hover, #main .activists .business-contact .close-btn:hover {
  color: #FF8982;
  cursor: pointer;
}

#main .business .business-contact .modal-head-block, #main .goverment .business-contact .modal-head-block, #main .activists .business-contact .modal-head-block {
  font: 500 1.4375rem Montserrat Regular, sans-serif;
  padding: 3% 2%;
}

#main .business .business-contact .business-head-block, #main .goverment .business-contact .business-head-block, #main .activists .business-contact .business-head-block {
  padding: 2% 0 2% 10%;
  display: block;
  font: 500 1.875rem Montserrat Regular, sans-serif;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #85241E;
  background-color: #E7D3D2;
}

#main .business .business-contact p, #main .goverment .business-contact p, #main .activists .business-contact p {
  font: 400 1rem Open Sans Regular, sans-serif;
  line-height: 34px;
  text-indent: 16px;
  padding: 5% 0 5% 10%;
  text-align: justify;
}

#main .business .business-contact .modal-btn, #main .goverment .business-contact .modal-btn, #main .activists .business-contact .modal-btn {
  display: inline-block;
  margin-left: 10%;
  font: 600 1rem Open Sans Regular, sans-serif;
  text-transform: uppercase;
  padding: 10px 35px;
  color: #E8625A;
  background-color: transparent;
  border: 2px solid #E8625A;
  cursor: pointer;
}

#main .business .business-contact .modal-btn:hover, #main .goverment .business-contact .modal-btn:hover, #main .activists .business-contact .modal-btn:hover {
  background-color: #E8625A;
  color: #FFF;
}

#main .business .service-description p, #main .goverment .service-description p, #main .activists .service-description p {
  font: bold 1.25rem Montserrat Regular, sans-serif;
}

#main .business .service-description .service-description-head, #main .goverment .service-description .service-description-head, #main .activists .service-description .service-description-head {
  font: 500 1.4375rem Montserrat Regular, sans-serif;
  padding: 2% 5%;
}

#main .business .service-description .toogler, #main .goverment .service-description .toogler, #main .activists .service-description .toogler {
  background: transparent;
  position: relative;
  border-style: none;
  color: #85241E;
  margin-left: 35%;
  text-transform: uppercase;
  font: 600 0.875rem Montserrat Regular, sans-serif;
}

#main .business .service-description .toogler::before, #main .goverment .service-description .toogler::before, #main .activists .service-description .toogler::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 14px;
  margin-top: 3px;
  border: 10px solid transparent;
  border-top: 10px solid #85241E;
  left: -25px;
}

#main .business .service-description .toogler:hover, #main .goverment .service-description .toogler:hover, #main .activists .service-description .toogler:hover {
  color: #FF8982;
}

#main .business .service-description .toogler:hover::before, #main .goverment .service-description .toogler:hover::before, #main .activists .service-description .toogler:hover::before {
  border: 10px solid transparent;
  border-top: 10px solid #FF8982;
}

#main .business .service-description li, #main .goverment .service-description li, #main .activists .service-description li {
  list-style: disc;
  margin-left: 2%;
  font: 400 1.125rem Open Sans Regular, sans-serif;
  line-height: 34px;
}

#main .business .sercive-picture, #main .goverment .sercive-picture, #main .activists .sercive-picture {
  background-image: url(../img/service_pic_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 70%;
  min-height: 600px;
}

#main .business .activists-picture, #main .goverment .activists-picture, #main .activists .activists-picture {
  background-image: url(../img/service_pic_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  min-height: 600px;
}

#main .business .goverment-picture, #main .goverment .goverment-picture, #main .activists .goverment-picture {
  background-image: url(../img/service_pic_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 85%;
  min-height: 600px;
}
